{% load static %}

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <img src="{% static 'Rimg/profile-img.jpg' %}" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="{% url 'admin-panel' %}">Admin</a></h1>
        </div>
        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li>
                    <a href="{% url 'admin-panel' %}" class="nav-link  active">
                        <i class="bx bx-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin-email-detail' %}" class="nav-link">
                        <i class="bx bx-envelope"></i>
                        <span>Email Content</span>
                    </a>
                </li>
{#                <li>#}
{#                    <a href="{% url 'admin-job-detail' %}" class="nav-link">#}
{#                        <i class="bx bx-book-content"></i>#}
{#                        <span>Jobs</span>#}
{#                    </a>#}
{#                </li>#}
                <li>
                    <a href="{% url 'logout' %}" class="nav-link ">
                        <i class="bx bx-envelope"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->