{% extends 'admin-master.html' %}

{% load static %}

{% block page-title %}Admin - Edit Job {% endblock %}

{% block page-styles %}
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
        }
        .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
            height: 200px !important;
        }
        .form-control {
            border-radius: 0 !important;
        }
    </style>
{% endblock %}

{% block page-content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>Edit Email Details
                    <a href="{% url 'admin-email-detail' %}" class="float-end btn btn-sm btn-primary">View All Email</a>
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-10 pt-4 pt-lg-0 content mx-auto" data-aos="fade-left">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label>{{ email_form.email_title.label }}</label>
                                {{ email_form.email_title }}
                                {% if email_form.email_title.errors %}
                                    <div class="col-md-11 alert-danger m-2" style="font-max-size: small; color: red;">{{ email_form.email_title.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col">
                                <label>{{ email_form.is_active.label }}</label>
                                {{ email_form.is_active }}
                                {% if email_form.is_active.errors %}
                                    <div class="col-md-11 alert-danger m-2" style="font-max-size: small; color: red;">{{ email_form.is_active.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <label>{{ email_form.email_description.label }}</label>
                                {{ email_form.email_description|safe }}
                                {% if email_form.email_description.errors %}
                                    <div class="col-md-11 alert-danger m-2" style="font-max-size: small; color: red;">{{ email_form.email_description.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <button type="submit" style="background-color:#149ddd;" class="btn btn-md text-light float-end">Update Email
                                </button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </section><!-- End About Section -->
{% endblock %}
{% block page-scripts %}
    <script src="{% static 'ckeditor5/ckeditor.js' %}"></script>
    <script>
        function initEditor(id) {
            ClassicEditor.create(document.querySelector(id), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            }).then(editor => {
                window.editor = editor;
            }).catch(err => {
                console.error(err.stack);
            });
        }

        initEditor('#id_email_description');
        $(document).ready(function () {
            var date_input = $('input[name="last_date"]');
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                {#format: 'dd/mm/yyyy',#}
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
        })
    </script>
{% endblock %}