{% extends 'admin-master.html' %}

{% load static %}

{% block page-title %}Admin - Home {% endblock %}

{% block page-styles %}{% endblock %}

{% block page-content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title"><h2>Applicants</h2></div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <canvas id="salaryRangeChart" style="width:300%"></canvas>
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Sr #</th>
                                <th>Applicatant</th>
                                <th>Resume</th>
                                <th>Status</th>
                                <th>Send Email</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for applicant in applicants %}
                                <tr class="align-middle text-center">
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <div class="">
                                            <img src="{{ applicant.user.user_resume.first.user_image.url }}" style="width:50px;height:50px;" alt="" class="img-fluid d-block mx-auto rounded-circle">
                                        </div>
                                        <div class=" text-center">Name: {{ applicant.user.user_resume.first.user_full_name }}</div>
                                        <div class=" text-center">Phone: {{ applicant.user.user_resume.first.user_contact_no }}</div>
                                        <div class=" text-center">Location: {{ applicant.user.user_resume.first.user_address }}</div>
                                    </td>
                                    <td><a href="{% url 'admin-user-resume' user_id=applicant.user_id %}" target="_blank" class="btn btn-sm btn-primary">View Resume</a>
                                    </td>
                                    {% if applicant.apply_status %}
                                        <td><a href="javaScript:;" class="btn btn-sm btn-info text-white">{{ applicant.apply_status }}</a></td>
                                    {% else %}
                                        <td><a href="javaScript:;" class="btn btn-sm btn-warning text-white">Waiting List</a></td>
                                    {% endif %}
                                    <td><a href="javaScript:;" class="btn btn-sm btn-info text-white"><i class="bx bx-envelope"
                                                                                                         title="Send Email"></i></a>
                                    </td>

                                    <td><a href="{% url 'admin-remove-resume' job_id=applicant.apply_job_id apply_id=applicant.id %}" class="btn btn-sm btn-danger"><i class="bx bx-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
{% endblock %}

{% block page-scripts %}
    <script>
        var xValues = {{ charts_label|safe }};
        var yValues = {{ charts_value|safe }};
        var barColors = ["#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145"];

        new Chart("salaryRangeChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{backgroundColor: barColors, data: yValues}]
            },
            options: {
                title: {
                    display: true,
                    text: "Salary Range Expectations"
                },
                maintainAspectRatio: false,
                width: 450,
                height: 450,
            }
        });
    </script>
{% endblock %}