{% extends 'user-master.html' %}

{% load static %}

{% block page-title %}User - Create Resume {% endblock %}

{% block page-styles %}
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            background: #f8f8f8 url("../static/img/hero-bg.jpg") top center;
        }
        .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
            height: 200px !important;
        }
        .form-control{
            border-radius: 0 !important;
        }
        .change-complete{
            color: #9eeaf9 !important;
            background-color: #0a53be !important;
        }
        #resumeTabs {
            background-color: rgb(46 46 46 / 61%);
            margin: auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 95%;
        }
        .nav-link{
            color: #fff;
        }
        .error{
            display: none;
            margin-left: 10px;
        }
        .error_show{
            color: red;
            margin-left: 10px;
        }
        input.invalid, textarea.invalid{
            border: 2px solid red;
        }
        input.valid, textarea.valid{
            border: 2px solid green;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker3.css' %}"/>
    <script type="text/javascript" src="{% static 'js/1.11.3.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
{% endblock %}

{% block page-content %}
    <div class="container mt-3 " id="resumeTabs">
        <h2 class="text-light">Build Resume</h2><br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item p-1">
                <a class="nav-link {% if not is_exist_personal %}active{% else %}change-complete{% endif %}"
                   href="{% url 'user-create-resume-personal' %}">Personal Information</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link {% if is_exist_educational %}change-complete{% endif %}"
                   href="{% url 'user-create-resume-edu' %}">Educational Information</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link {% if is_exist_professional %}change-complete{% endif %}"
                   href="{% url 'user-create-resume-pro' %}">Professional Experience</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link {% if is_exist_skills %}change-complete{% endif %}"
                   href="{% url 'user-create-resume-ski' %}">Skills</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link {% if is_exist_certi %}change-complete{% endif %}"
                   href="{% url 'user-create-resume-certi' %}">Certificate</a>
            </li>
        </ul>
        {% block page-content-tab %} {% endblock %}
    </div>
{% endblock %}

{% block page-scripts %}
    <script src="{% static 'ckeditor5/ckeditor.js' %}"></script>
    <script>
        $(document).ready(function (){
            var date_input=$('input[name="user_dob"]');
            var date_input_1=$(".datepicker");
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
                format: 'yyyy-mm-dd',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
            date_input_1.datepicker(options);

            function initEditor(id) {
                document.querySelectorAll(id).forEach(element => {
                    ClassicEditor.create(element, {}).then(editor => {
                        window.editor = editor;
                    }).catch(err => {
                        console.error(err.stack);
                    });
                });
            }
            initEditor('#degree');
            initEditor('.ckeditor-instance');
            initEditor('#certifi');
            initEditor('#id_about_description');
            initEditor('#editor12');
            })
    </script>
    <script>
        function addDegree() {
            var form_idx_deg = $('#id_education-TOTAL_FORMS').val();
            $('#id_education-TOTAL_FORMS').val(parseInt(form_idx_deg) + 1);
            $('#formContainerEducation').append($('#empty_form_education').html().replace(/__prefix__/g, form_idx_deg));
        }

        function addCertificate() {
             var form_idx_certi = $('#id_certifi-TOTAL_FORMS').val();
            $('#id_certifi-TOTAL_FORMS').val(parseInt(form_idx_certi) + 1);
            $('#formContainerCerti').append($('#empty_form_certi').html().replace(/__prefix__/g, form_idx_certi));
        }

        function addSkills() {
            var form_idx_skill = $('#id_skil-TOTAL_FORMS').val();
            $('#id_skil-TOTAL_FORMS').val(parseInt(form_idx_skill) + 1);
            $('#formContainerSkill').append($('#empty_form_skill').html().replace(/__prefix__/g, form_idx_skill));
        }

        function addJobExperince() {
           var form_idx_pro = $('#id_profession-TOTAL_FORMS').val();
            $('#id_profession-TOTAL_FORMS').val(parseInt(form_idx_pro) + 1);
            $('#formContainerPro').append($('#empty_form_pro').html().replace(/__prefix__/g, form_idx_pro));
        }
    </script>
{% endblock %}