<div class="row">
    <div class="col">
        <label class="text-light">Full Name</label>
        <input type="text" class="form-control" placeholder="Enter Full Name" name="fullName" required>
        <span class="error">This field is required</span>
    </div>
    <div class="col">
        <label class="text-light">Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" name="email" required>
        <span class="error">A valid email address is required</span>
    </div>
    <div class="col">
        <label class="text-light">Date of Birth</label>
        <input type="date" class="form-control" placeholder="Date of Birth" name="dateBirth" required>
        <span class="error">This field is required</span>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <label class="text-light">Contact #</label>
        <input type="tel" class="form-control" placeholder="Enter Contact Number" name="contactNo" required>
        <span class="error">This field is required</span>
    </div>
    <div class="col">
        <label class="text-light">Degree</label>
        <input type="text" class="form-control" placeholder="Enter Latest Degree" name="latestDegree" required>
        <span class="error">This field is required</span>
    </div>
    <div class="col">
        <label class="text-light">Portfilo</label>
        <input type="url" class="form-control" placeholder="Entar Portfolio Link" name="portfolio">
        <span class="error">This field is required</span>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <label class="text-light">Tag Line</label>
        <input type="text" class="form-control" placeholder="Enter Tag Line" name="contactNo" required>
        <span class="error">This field is required</span>
    </div>
    <div class="col">
        <label class="text-light">Experience</label>
        <input type="text" class="form-control" placeholder="Enter Your Total Experience"
               name="experience" required>
        <span class="error">This field is required</span>
    </div>
    <div class="col">
        <label class="text-light">Image</label>
        <input type="file" class="form-control" placeholder="Select Image" name="profileImage" required>
        <span class="error">This field is required</span>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <label class="text-light">Facebook</label>
        <input type="url" class="form-control" placeholder="Enter Facebook Link" name="facebook">
    </div>
    <div class="col">
        <label class="text-light">LinkedIn</label>
        <input type="url" class="form-control" placeholder="Enter LinkedIn Link" name="linkedin">
    </div>
    <div class="col">
        <label class="text-light">Skype</label>
        <input type="text" class="form-control" placeholder="Enter Skype Name" name="skype">
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <label class="text-light">Twitter</label>
        <input type="url" class="form-control" placeholder="Enter Twitter Link" name="twitter">
    </div>
    <div class="col">
        <label class="text-light">Instagram</label>
        <input type="url" class="form-control" placeholder="Enter Instagram Link" name="instagram">
    </div>
    <div class="col">
        <label class="text-light">Address</label>
        <input type="text" class="form-control" placeholder="Enter Address" name="address" required>
        <span class="error">This field is required</span>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <label class="text-light">About Me</label>
        <div id="editor12" class="form-control editor"></div>
        <span class="error">This field is required</span>
    </div>
</div>