{% extends 'user-master.html' %}

{% load static %}

{% block page-title %}My Profile{% endblock %}

{% block page-styles %}
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
        }

        .form-control {
            border-radius: 0 !important;
        }
    </style>
{% endblock %}

{% block page-content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>Change Password</h2>
            </div>
            <div class="row">
                <div class="col-lg-8 pt-4 pt-lg-0 content mx-auto" data-aos="fade-left">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label>{{ change_pass_form.old_password.label_tag }}</label>
                                {{ change_pass_form.old_password }}
                                {% if change_pass_form.old_password.errors %}
                                    <div class="col-md-11 alert-danger m-2" style="font-max-size: small; color: red;">{{ change_pass_form.old_password.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label>{{ change_pass_form.new_password.label_tag }}</label>
                                {{ change_pass_form.new_password }}
                                {% if change_pass_form.new_password.errors %}
                                    <div class="col-md-11 alert-danger m-2" style="font-max-size: small; color: red;">{{ change_pass_form.new_password.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label>{{ change_pass_form.confirm_password.label_tag }}</label>
                                {{ change_pass_form.confirm_password }}
                                {% if change_pass_form.confirm_password.errors %}
                                    <div class="col-md-11 alert-danger m-2" style="font-max-size: small; color: red;">{{ change_pass_form.confirm_password.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <button type="submit" style="background-color:#149ddd;" class="btn btn-md text-light float-end">Update Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
{% endblock %}

{% block page-scripts %}{% endblock %}
